/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
  color: #333;
}

/* Basic styling */
h1 {
  font-family: "Poppins", sans-serif;
  color:#091F5B;
  font-size: 1.7em;
}

h2, h3 {
  font-family: "Spectral", serif;
  font-size: 1.4em;
}

p, span {
  font-size: 1em;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 1.7em;
    letter-spacing: 2px;
    line-height: 1.3;
  }
  h2 {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2em;
    line-height: 1.7;
  }
}

/* Utility classes */
.container {
  padding: 2rem 1.5rem;
  margin: auto;
}

.bg-light {
  background: #FFF9EF;
  color: #091F5B;
}
.bg-grey {
  background: #efefef;
  color: #091F5B;
}
.bg-dark{
  background: #2e2e2e;
  color: #FFF9EF
}
.bg-blue{
  background: #091F5B;
  color: #FFF9EF
}

.px-1 {
  padding: 0 10px
}
.px-2 {
  padding: 0 20px
}
.px-3 {
  padding: 0 30px
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.grid {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}

.card {
  max-width: 40%;
  min-width: 150px;
  border-radius: 20px;
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 1px 3px #bebebe, 3px 4px #cdcdcd,  5px 5px #dedede;
}

@media only screen and (max-width: 750px) {
  .mobile-hidden {
    display: none
  }
}

@media only screen and (min-width: 750px) {
  .container {
    padding: 3rem 4rem;
    max-width: 1440px;
  }
}

/* HEADER */

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

.header-container {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 0 10px;
}

.links-container {
  display: flex;
  align-items: center;
}

.links-container nav ul {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 375px) {
  .nameplate {
    padding-left: 1rem;
  }
}

@media only screen and (min-width: 750px) {
  .header-container {
    align-items: center;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nameplate {
    padding-left: 0;
  }

  .name {
    line-height: 1.3;
  }

  .links-container {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1023px) {
  .connect {
    padding-right: 1rem;
  }
}


.logo-block {
  position: relative;
  display: inline-block;
  width: 80px;
  text-align: center;
  padding-top: 10px;
}

.logo-block img {
  margin: 0 10px 10px;
}

.logo-block::after {
  content: "";
  width: 0;
  height: 110px;
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  border-left: 40px solid #091F5B;
  border-right: 40px solid #091F5B;
  border-bottom: 15px solid transparent;
  z-index: -1;
}

.header {
  padding: 10px 0;
}

.name {
  text-transform: uppercase;
  line-height: 1;
}

.designation {
  color: #091F5B;
  font-weight: 500;
  font-size: 1.3em;
}

.navbar-links a {
  color: #091F5B;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  padding: .5rem 1rem;
}

.navbar-links a:hover {
  background: #091F5B;
  color: #FFF9EF;
  text-decoration: underline;
  text-underline-offset: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 750px) {
  .navbar-links {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 1023px){
  .designation {
    font-size: 1em;
  }

  .navbar-links a {
    font-size: 14px;
  }

  .connect-links img {
    width: 25px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .header-container {
    max-width: 1440px;
    margin: auto;
  }
  .name {
    line-height: 1.7;
  }

  .links-container {
    gap: 10px;
  }

  .navbar-links a {
    padding: 10px;
  }
  .connect-links {
    padding-right: 10px;
  }
}

/* HERO BANNER */

.hero-banner .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.hero-content-container {
  max-width: 80%;
  text-align: center;
}

.hero-content-container * {
  color: #091F5B;
}

.hero-content-container h2 {
  font-size: 2em;
  margin-bottom: 1rem;
}

.hero-content-container p {
  font-size: 1.1em;
  line-height: 1.5;
}

.hero-img-container {
  padding: 0.5rem;
  background: url(/assets/circle-brush.svg) no-repeat center center / cover;
  width: 70%;
  margin: auto;
}

.hero-img-container img {
  border-radius: 50%;
}

.hero-content-container:after {
  content: "";
  width: 50%;
  height: 75%;
  display: block;
  position: absolute;
  background: #8f8cb8;
  right: 10%;
  top: -10%;
  transform: rotate(175deg);
  z-index: -1;
  opacity: .3;
}

.hero-content-container:before {
  content: "";
  height: 60%;
  width: 50%;
  background: #fffade;
  display: block;
  position: absolute;
  transform: rotate(10deg);
  z-index: -1;
  opacity: .8;
}

@media only screen and (min-width: 435px) {
  .hero-img-container {
    max-width: 50%;
  }
}

@media only screen and (min-width: 750px) {
  .hero-banner .container {
    flex-direction: row;
    gap: 2rem;
  }

  .hero-content-container {
    max-width: 65%;
    text-align: right;
    padding-left: 50px;
  }

  .hero-content-container h2 {
    text-shadow: 2px 2px 2px rgba(255, 250, 222, 0.8);
  }

  .hero-content-container p {
    line-height: 1.7;
  }

  .hero-img-container {
    max-width: 35%;
    padding: 1rem;
  }  
}

@media only screen and (min-width: 1024px) {
  .hero-banner {
    margin-bottom: 2rem;
  }

  .hero-content-container {
    max-width: 50%;
  }
}

/* PORTFOLIO */
#experiences {
  grid-area: experiences;
}
#interests {
  grid-area: interests;
}
#works {
  grid-area: works;
}

.portfolio > .grid {
  grid-template-areas: "experiences"
  "works"
  "interests";
}

/* EXPERIENCE Timeline */
.job-item.grid {
  grid-template-areas: "job-title" "job-details";
  align-items: center;
  gap: 0;
}

.job-title {
  color: #091F5B;
  grid-area: job-title;
  padding: 1rem 1rem;
  border-left: #091F5B 3px solid;
  position: relative;
}

.job-title:before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(/assets/circle-bullet.png) no-repeat center center / contain;
  display: block;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translate(.25rem, -50%);
}

.job-details {
  grid-area: job-details;
  padding-left: 2rem;
  border-left: #091F5B 3px double;
}

@media only screen and (min-width: 750px) {
  .job-item.grid {
    grid-template-areas: "job-details job-title";
    grid-template-columns: 150px 1fr;
  }
  .job-details {
    padding-left: 0;
    padding-right: 1rem;
    border-left: none;
    text-align: right;
  }
}

/* INTERESTS */

#interests ul {
  display: inline-flex;
  flex-wrap: wrap;
}

.interest {
  padding: 0.5rem;
  max-width: fit-content;
  min-width: auto;
  box-shadow: none;
  border-bottom: 2px solid;
  border-radius: 0;
  margin: 0 .5rem;
  text-align: left;
}

/* WORKS */
#works {
  position: relative;  
  align-self: stretch;
  border-radius: 50px;
}

#works:after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background: url(/assets/klr-logo-icon.png) no-repeat center center / cover;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
}

.work.card {
  background: #FFF9EF;
}

.work.card .img-container {
  width: 100%;
}

.work.card .img-container img {
  width: 100%;
}

#works div > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
  padding: 2rem 0;
}

@media only screen and (min-width: 750px) {
  .portfolio > .grid {
    grid-template-areas: "experiences experiences experiences interests"
    "works works works works";
  }
}

@media only screen and (min-width: 1024px) {
  .portfolio > .grid {
    grid-template-areas: "works works works works experiences"
    "works works works works experiences"
    "works works works works interests";
  }
  #experiences {
    padding: 2rem 0;
  }
}

/* SKILLS */
#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#frontend, #ecomm {
  width: 100%;
}  

@media only screen and (min-width: 768px) {
  #frontend, #ecomm {
    max-width: 45%;
  }  
}

#skills h3 {
  color: #FFF9EF;
  text-align: center;
  margin-bottom: 20px;
  
}

.skills {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.skills .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.skills .card p {
  color: #091F5B;
  font-weight: 500;
  margin-top: 10px;
  font-size: 1.2em;
}

/* CONTACT */
#contact {
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  color: #091F5B;
}

@media only screen and (min-width: 750px) {
  #contact {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px
  }

  .contact-connect {
    width: 40%;
    padding: 1rem 0;
  }

  .contact-form {
    width: 60%;
  }
}

.contact-form {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #FFF9EF;
}

.contact-details {
  font-style: normal;
}

.contact-details li {
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.contact-details li span {
  color: #091F5B;
  padding-left: 1rem;
}

.form-group * {
  font-family: "Roboto", sans-serif;
}

.form-group label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
  color: #091F5B;
}

.contact-form input, 
.contact-form textarea {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid #091F5B;
  border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

.form-btn {
  padding: .5rem;
  width: 50%;
  margin: 1rem 0;
  border-radius: 5px;
  background: #091F5B;
  color: #FFF9EF;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.form-btn:hover {
  transform: scale(1.1);
  color: #091F5B;
  background: #FFF9EF;
  border: 2px solid #091F5B;

}

/* FOOTER */
.footer {
  padding: 20px 60px;
  text-align: center;
}